/* (chemin : /frontend/src/app/globals.css) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* petites bases */
html, body { height: 100%; }
body { background-color: #f8fafc; } /* slate-50 */
