# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Node / Web
node_modules/
frontend/node_modules/
backend/node_modules/
.next/
dist/
build/

# Environment variables
.env

# Docker volumes and databases
backend/db.sqlite3
backend/db.sqlite3-shm
backend/db.sqlite3-wal
backend/media/
frontend/.next/
.docker/

